<div class="content bg-gray-lighter">
	<div class="row items-push">
		<div class="col-lg-7">
			<h1 class="page-heading">
				Properties <small>All of the Properties</small>
			</h1>
		</div>
		<div class="col-lg-5 text-right hidden-xs">
			<ol class="breadcrumb push-10-t">
				<li>Home</li>
				<li><a href="#/properties" class="link-effect">Properties</a></li>
			</ol>
		</div>
	</div>
</div>
<div class="content">
	<div class="row">
		<div class="col-md-12" style="margin-bottom: 16px">
<div class="pull-right  form-inline">

	<div class="form-group">
		<p-dropdown [options]="publish" [(ngModel)]="selectedPublish" [filter]="true"></p-dropdown>

	</div>
	<div class="form-group">
		<p-dropdown [options]="commercial" [(ngModel)]="selectedCommercial" [filter]="true"></p-dropdown>
	</div>
	<div class="form-group">
		<input type='text' class="form-control" [(ngModel)]="propertyName" placeholder="Enter Property Name">
	</div>
	<div class="form-group">
		<input type='text' class="form-control" [(ngModel)]="propertyNumber" placeholder="Enter Property Number">
	</div>
	<div class="form-group">
		<button class="btn btn-primary" (click)='getProperties()'>Filter</button>
		<button class="btn btn-info" (click)='clearFiltered()'>Clear</button>
	</div>
</div>
</div>
</div>
<!--</div>
<div class="content">-->
	<div class="block">
		<div class="block-header">
		
		</div>
		<div class="block-content">
			<sp-pager [pageName]='pageName' [totalItems]='totalItems' [currentPageFiltered]='currentPageFiltered'></sp-pager>
			<table id="content_types_index_table" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Type</th>
						<th>Number</th>
						<th>Name</th>
						<th>Published</th>
						<th></th>
					</tr>
				</thead>
				<tbody>

					<tr *ngFor="let property of properties">
						<td>
							<span *ngIf="property.Type=='PropMan::ResidentialProperty'"><i class="fa fa-building" ></i>Residential</span>
							<span *ngIf="property.Type!='PropMan::ResidentialProperty'"><i class="fa fa-bank" ></i>Commercial</span>
						</td>
						<td>
							{{property.Number}}
						</td>
						<td>
							{{property.Name}}
						</td>
						<td>
							<span class="text-warning" *ngIf="property.Published==null">Never</span>
							<span class="text-success" *ngIf="property.Published!=null">{{property.Published}}</span>
						</td>
						<td>
							<a href="#/properties/{{property.Id}}" routerLinkActive="active">
                 View
              </a>
							<a href="#/properties/{{property.Id}}/edit" routerLinkActive="active">
                Edit
              </a>
						</td>
					</tr>
				</tbody>
			</table>
			<nav style="text-align: center">
<sp-pagination [dataSource]='companies' [totalItems]='totalItems' (currentPageChanged)='onCurrentPageChanged($event)' [currentPageFiltered]='currentPageFiltered'></sp-pagination>
</nav>
</div>
</div>
</div>
<!-- .container-fluid -->