<div class="bg-gray-lighter" style="margin-left:1%;">
  <div class="row items-push">
    <div class="col-lg-7">
      <h1 class="page-heading" *ngIf="ContentId>0">
        Edit {{sitecontent.PageName}}
        <!--<%= @amenity.Name %> -->
        <small> Change Page Contents</small>
      </h1>
      <h1 class="page-heading" *ngIf="ContentId==0">
        Site Page <small>Create a new Site Page.</small>
      </h1>
    </div>
    <div class="col-lg-5 text-right hidden-xs">
      <ol class="breadcrumb push-10-t">
        <li>Home</li>
        <li *ngIf="ContentId==0">
          <a href="#/siteContentList" class="link-effect">Site Page List</a>
        </li>
				 <li *ngIf="ContentId==0">
					<a href="#/siteContent/{{ContentId}}" class="link-effect">New</a>
        </li>
        <li *ngIf="ContentId>0">
					<a href="#/siteContentList" class="link-effect">{{sitecontent.PageName}}</a></li>
        <li *ngIf="ContentId>0"><a href="#/siteContent/{{ContentId}}" class="link-effect">Edit</a></li>
      </ol>
    </div>
  </div>
</div>
<div class="row" style="margin-top:2%;">
  <div class="col-lg-7">
    <h1 class="page-heading" style="margin-left:2%;">
      Page Name: &nbsp;{{sitecontent.PageName}}
    </h1>
  </div>
  <div class="col-lg-5">
    <div class="col-md-2">Publish?</div>
    <div class="col-md-2">
      <ui-switch [(ngModel)]="sitecontent.Published" size="small"></ui-switch>
    </div>
    <div class="col-md-8">
      <div class="col-xs-12">
        <div class="actions pull-right">
          <button class='btn btn-info pull-left' (click)="Cancel()">Cancel</button>&nbsp;
          <button class='btn btn-primary pull-right' (click)="SaveSiteContents()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top:2%;">
  <p-tabView>
    <p-tabPanel header="Content Description" class="content form-horizontal">
      <div class="block">
        <div class="block-content">
          <div class="form-group">
            <label class="col-xs-12">Page Name</label>
            <div class="col-xs-12">
              <input type="text" [(ngModel)]="sitecontent.PageName" class="form-control" placeholder="Enter Page Name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-12">Page Title</label>
            <div class="col-xs-12">
              <input type="text" class="form-control" placeholder="Enter Page Title" [(ngModel)]="sitecontent.PageTitle">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-12">Page url</label>
            <div class="col-xs-12">
              <input type="text" class="form-control" placeholder="Enter Page url" [(ngModel)]="sitecontent.PageURL">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-12">Meta Keywords</label>
            <div class="col-xs-12">
              <input type="text" class="form-control" placeholder="Enter Meta Keywords" [(ngModel)]="sitecontent.MetaKeyword">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-12">Meta Description</label>
            <div class="col-xs-12">
              <input type="text" class="form-control" placeholder="Enter Meta Description" [(ngModel)]="sitecontent.MetaDescription">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-12">Other Meta Tags</label>
            <div class="col-xs-12">
              <textarea rows="4" cols="50" class="form-control" placeholder="Enter Other Meta Tags" [(ngModel)]="sitecontent.OtherMetaTags"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-12">Published By</label>
            <div class="col-xs-12">
              <input type="text" class="form-control" placeholder="Enter Published" [(ngModel)]="sitecontent.PublishedBy">
            </div>
          </div>
          <div class="form-group" *ngIf="ContentId != 0">
            <label class="col-xs-12">Last Modified Date</label>
            <div class="col-xs-12">
              <input type="text" class="form-control" [(ngModel)]="sitecontent.LastModifiedDate" readonly>
            </div>
          </div>
          <div class="form-group" *ngIf="ContentId != 0">
            <label class="col-xs-12">Created Date</label>
            <div class="col-xs-12">
              <input type="text" class="form-control" [(ngModel)]="sitecontent.CreatedDate" readonly>
            </div>
          </div>
          <div class="form-group" *ngIf="ContentId != 0">
            <label class="col-xs-12">Updated Date</label>
            <div class="col-xs-12">
              <input type="text" class="form-control" [(ngModel)]="sitecontent.UpdatedDate" readonly>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Html Editor">
      <div class="form-group">
        <div class="col-xs-12">
          <!--<label>html text field</label>-->
          <ckeditor [(ngModel)]="sitecontent.PageContent" debounce="500">
          </ckeditor>
          <div class="help-block animated fadeInDown">
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
