
    <div class="options" style="padding-top:20px">
      <div class="form-inline text-center">
        <div class="field form-group">
          <ngb-pagination
          *ngIf="totalItems > currentPageFiltered.pageSizeFilter"
           [(page)]="currentPageFiltered.pageNo" 
           [collectionSize]="totalItems" 
           [pageSize]="currentPageFiltered.pageSizeFilter" 
           (pageChange)="pageChangeHandler()" 
           [maxSize]="8" 
           [boundaryLinks]="true"
           ngDefaultControl></ngb-pagination>
        </div>
      </div>
    
<!--    

      <ul>
      <li *ngFor="let item of _dataSource | paginate: { itemsPerPage: 10, currentPage: p }"> name</li>
    </ul>

    <pagination-controls (pageChange)="p = $event"></pagination-controls></div>-->